body {
    background: yellowgreen;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: teal;
}

.flex-container{
    display: flex;
    flex-flow: row-wrap;
    justify-content: space-between;
    width: 50px;
}


.flex-item{
    padding: 10px;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.flex-item img {
    width: 100%;
    height: 100%;
  }
  